body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.5rem;
}
#display{
    width: 100%;
    padding: 30px;
    background: hsl(0, 0%, 20%);
    border: none;
    font-size: 3rem;
    color: white;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding: 2rem;
    gap: 10px;
    font-family: Arial, sans-serif;
}
#calculator{
    background: hsl(0, 0%, 10%);
    border-radius: 20px;
    overflow: hidden;
    max-width: 300px;
    height: auto;
}
button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    background: hsl(0, 0%, 40%);
    color: white;
}
button:hover{
    background: hsl(0, 0%, 50%);
}
#diffBtns{
    background: hsl(44, 96%, 44%);
}
#diffBtns:hover{
    background: hsl(44, 100%, 58%);
}
